*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-attachment: fixed;
}

body{
    font-family: 'open sans';
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

header{
    width: 100%;
    height: 85px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

nav{
    text-align: right;
    padding: 30px 50px 0 50px;
}

nav > a {
    color: whitesmoke;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover {
    text-decoration: underline;
}

.contenedor{
    padding: 69.5px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.contenedor-nota{
    display: flex;
    justify-content: space-evenly;
}

.imagen-nota{
    width: 48%;
}

.nota .contenido-textos{
    width: 48%;
}

.contenido-textos p{
    padding: 20px 0px 10px 15px;
    font-weight: 300;
    text-align: justify;
}

input[type="text"],
input[type="date"]{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaaaaa;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background: cadetblue;
}

footer{
    background: #414141;
    padding: 10px 0 10px 0;
    margin: auto;
    overflow: hidden;
    height: 85px;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}