*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-attachment: fixed;
}

body{
    font-family: 'open sans';
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);;

}

.contenedor{
    width: 100%;
    padding: 15px;
}

.formulario{
    background-color: #ffffff;
    margin: 65px 350px 65px 350px;
    padding: 3px;
    border-radius: 5px;
}

h1{
    text-align: center;
    color:#092b09;
    font-size: 40px;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaaaaa;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #999999;
}

.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #092b09;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
    background: cadetblue;
}

p{
    text-align: center;
}

.link{
    text-decoration: none;
    color:#092b09 ;
    text-align: center;
}

.link:hover{
    color: cadetblue;
}

@media screen and (max-width: 900px){
    .formulario{
        margin: auto;
        margin-top: 50px;
        width: 500px;
        align-items: center;

    }
}