*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Roboto', sans-serif;
}

section{
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

section h2{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
}

section p{
    margin-bottom: 15px;
}

section img{
    height: 60%;
}

.contenedor-texto{
    width: 50%;
}

.contenedor-texto h3 span{
    background: mediumturquoise;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 4px rgba(0, 0, 0, .2);
    margin-right: 5px;
}

.contenedor-texto p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.back{
    display: inline-block;
    padding: 7px 0;
    width: 100px;
    border: 1px solid #fff;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
    background: #fff;
}

footer{
    background: #414141;
    padding: 40px 0 20px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid gray;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: white;
    border-bottom: 3px solid cornflowerblue;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: gray;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width: 900px){
    section{
        flex-direction: column-reverse;
        align-content: center;
    }

    section > img{
        height: 40%;
    }

    .contenedor-texto{
        text-align: center;
        width: 90%;
    }
}

@media screen and (max-width: 600px){
    section > img{
        height: 25%;
    }

    .contenedor-texto{
        text-align: center;
        width: 100%;
    }

    .contenedor-texto nav a{
        margin-top: 10px;
    } 

    .contenedor-footer{
        flex-direction: column;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .titulo-final{
        font-size: 20px;
    }
}